<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Xmonka</title>
</head>
<body>
<div class="welcome_xmonka">
<h1>Welcome to Xmonka!</h1>
</div>

<div class="user_login">

  <h3 style="border-style: none none solid none;padding-bottom: 20px ">
    <a href=/users/new> Sign Up </a></h3>
  <br><br>
  <h3 style="border-style: none none solid none;padding-bottom: 20px ">
    <a href=/users/new> Login </a>
  </h3>
</div>

</body>
</html>