<!-- app/views/games/deck.html.erb -->
<h1>Deck Debug menu</h1>
<h2>Hand</h2>
<ul>
  <% @player_deck.each do |key, card| %>
    <% if card[:position] == :hand %>
      <li>Card ID: <%= card[:card_id] %></li>
    <% end %>
  <% end %>
</ul>

<h2>Deck</h2>
<ul>
  <% @player_deck.each do |key, card| %>
    <% if card[:position] == :deck %>
      <li>Card ID: <%= card[:card_id] %></li>
    <% end %>
  <% end %>
</ul>
