/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */html *
    {
        background-color: black;
        color: mediumseagreen;
        font-family: "Source Code Pro", Monaco, monospace;
        border-color: mediumseagreen;
    }

button,
input,
select,
textarea {
    font-family: inherit;
    background-color: black;
    color: yellowgreen;
    font-size: 110%;
    padding: 5px;
    border-style: solid;
}

.welcome_xmonka
{
    border-style: dashed;
    text-align: center;
    padding: 25px;
}

.user_first
{
    border-style: dashed;
    text-align: center;
    padding: 50px;
}

.user_form

{

    text-align: center;
    border-style: dashed;
    padding: 50px;
    margin-top: 30px;
    margin-left: 240px;
    margin-right: 240px;
    column-span: initial;

}

.section_board
{
    align-items: center;
    display: flex;
    border-style: dashed;
    padding: 10px;
    margin-bottom: 50px;

}

.card_container
{
    margin-right: 10px;
    border-style: solid;
    padding: 5px;
    margin-left: 10px;
    margin-top: 5px;
    height: 330px;
    width: 180px;
}

.card_container_imgframe

{

    border-style: dotted;
    padding: 10px;

}

.card_container_info

{
    margin-top: 10px;
    height: 120px;
    border-style: dotted;
    text-align: center;
    font-size: x-small;
    padding: 3px;
}

.stats_container

{
    margin-right: 10px;
    border-style: solid;
    padding: 5px;
    margin-left: 10px;
    margin-top: 5px;
    height: 330px;
    width: 420px;
}

.stats_container_inside

{ border-style: dotted;
    padding: 10px;
  height: 50%;
font-size: large;}


.option-row
{display: flex;
    height: 38px;
    margin-top: 12px;
 border-style: dotted;
    padding: 5px;
    font-size: x-small;
}

.user_dupa
{

}